@import '~antd/dist/antd.css';

.App {
  margin-top: 10%;
}

.container {
/*   display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; */
  width: 600px;
  height: 400px;
/*   margin: 400px auto; */
}

.header { 
  background: white;
  /* align-self: stretch; */
   text-align: center;
 /* margin: 0; */
}

.quote {
  background: #FFF5CA;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.41); 
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.41);
  font-size: 20px;
 text-align: center;
 /*   margin: 0 auto; */
  padding: 5%;
  width: 600px;
  height: 300px;
}

.button-flex {
  margin-top: 1%;
  width: 200px;
  height: 50px;
}
